
.menu{
    background: #0000005e;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu li{
    list-style: none;
    display: inline;
}
.menuOption a{
    color: #ededed;
    font-weight: bold;
    font-size: 18px;
    padding-left: 20px;
    -moz-user-select: none; 
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none; 
    text-decoration: none;
}   
.menuOption a:hover{
    color: white;
    cursor: pointer;
}
.menuOption a:focus{
    color: rgb(148, 218, 20);
}



